<p id="notice"><%= notice %></p>

<p>
  <b>Who:</b>
  <%= @task.who %>
</p>

<p>
  <b>For:</b>
  <%= @task.for %>
</p>

<p>
  <b>When:</b>
  <%= @task.when %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
