<!DOCTYPE html>
<html>
<head>
  <title>Gomidashi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= flash[:msg] %></p>
<%= yield %>

</body>
</html>
