<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @member.user %>
</p>

<p>
  <b>Jyunban:</b>
  <%= @member.jyunban_id %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
